<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a routerLink="" class="navbar-brand" >Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="games" class="nav-link" >Liste des jeux vidéos</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="mygames" class="nav-link" >Ma bibliothèque</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="new" class="nav-link" >Nouveau jeu vidéo</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


